:root {

    --primary-red: #953130;
    --primary-grey: #545454;
    --primary-white: #F2F0EB;

    --secondary-dark-red: #792322;
    --secondary-red: #B26161;
    --secondary-light-red: #CFA1A1;
    --secondary-white: #FFFFFF;

    --accent-dark-blue: #177E89;
    --accent-blue: #5CB4BD;
    --accent-white: #F1F1F1;

    --header-font: Cambria, Georgia, serif;
    --body-font: Cambria, Georgia, serif;

    --text-colour: black;
    --card-background: white;

    --button-color: white;
    --button-background-color: var(--primary-red);

}

.navbar-right {
    justify-content: center !important;
    display: flex;
}

@media (min-width: 768px) {

    /* Medium/Large Devices */
    nav {
        padding-left: 100px;
    }

    .navbar-right {
        justify-content: right !important;
    }
}

.logo {
    border-radius: 128px;
    height: 179px;
    background-color: white;
    display: flex;
    margin: auto;
}


.header-box {
    height: 350px;
    background-color: var(--primary-grey);
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
}

.fit-cover {
    object-fit: cover;
}

.icon {
    color: var(--primary-red);
}

.centered-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 13rem;
    /* Footer height */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 13rem;
    /* Footer height */
}

.bootstrap-select .dropdown-menu {
    min-width: 100% !important;
}

@media (min-width: 768px) {

    /* Medium/Large Devices */
    .bootstrap-select .dropdown-menu {
        min-width: 100px !important;
    }
}

.message {
    max-width: 800px;
}

.alert-card {
    border: 1px solid black;
    box-shadow: 2px 2px 2px black;
    padding: 1rem;
    max-width: 85vw;
    color: black;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 10;
}

.sticky-top {
    z-index: 1000 !important;
}

.map-image {
    overflow-x: scroll !important;
    min-width: 2304px;
    height: 1720px;
}

.map-container {
    overflow-x: scroll;
}

.map-svg {
    position: absolute;
    top: 7rem;
    z-index: 5;
    display: flex;
}

canvas {
    background-position: center;
}

.canvas-1 {
    background-image: url("../assets/floor2.svg");
    min-width: 2304px;
    height: 1720px;
}

.canvas-2 {
    background-image: url("../assets/floor1.svg");
    min-width: 1632px;
    height: 2112px;
    background-repeat: no-repeat;
}